<form action="/api/v1/articles" method="post" enctype="multipart/form-data">
    title: <input type="text" name="title" value="Article Title"/><br/>
    contents: <input type="text" name="contents" value="123"/><br/>
    categoryId: <input type="text" name="categoryId" value="1"/><br/>
    writerId: <input type="text" name="writerId" value="1"/><br/>
    regionId: <input type="text" name="regionId" value="1"/><br/>
    articleMainImage: <input type="file" name="articleMainImage" />
    <br/>
    <input type="submit" />
</form>