<form action="/api/v1/articles/update" method="post" enctype="multipart/form-data">
    articleId: <input type="text" name="articleId" value="1"/><br/>
    title: <input type="text" name="title" value="Article Title"/><br/>
    contents: <input type="text" name="contents" value="123"/><br/>
    categoryType: <input type="text" name="categoryType" value="HELLO"/><br/>
    writerId: <input type="text" name="writerId" value="1"/><br/>
    regionId: <input type="text" name="regionId" value="1"/><br/>
    articleMainImage: <input type="file" name="articleMainImage" />
    <br/>
    <input type="submit" />
</form>